<div class="jumbotron">
  <alert></alert>
  <h1>Upload</h1>
  <form #myForm>

    <div class="form-group">
      <i class="fa fa-book" aria-hidden="true"></i>
      <label for="inputTitle">Título do Livro</label>
      <input type="text" class="form-control" id="inputTitle" required [(ngModel)]="book.title" [ngModelOptions]="{standalone: true}" aria-describedby="titleHelp" placeholder="Título">
      <small id="titleHelp" class="form-text text-muted">Informar título do livro.</small>
    </div>

    <div class="form-group">
      <i class="fa fa-user" aria-hidden="true"></i>
      <label for="inputAuthor">Autor do Livro</label>
      <input type="text" class="form-control" id="authorTitle" required [(ngModel)]="book.author" [ngModelOptions]="{standalone: true}" aria-describedby="authotHelp"
        placeholder="Autor">
      <small id="authorHelp" class="form-text text-muted">Informar autor do livro.</small>
    </div>

    <div class="form-group">
      <i class="fa fa-barcode" aria-hidden="true"></i>
      <label for="inputISBN">ISBN</label>
      <input type="text" class="form-control" id="inputISBN" required [(ngModel)]="book.isbn" [ngModelOptions]="{standalone: true}" aria-describedby="isbnHelp" placeholder="ISBN">
      <small id="isbnHelp" class="form-text text-muted">Informar ISBN.</small>
    </div>

    <div class="form-group">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      <label for="inputFile">Livro (PDF)</label>
      <input type="file" class="form-control-file" id="inputFile" aria-describedby="fileHelp" #fileInput value="upload" (change)="onChange($event)">
      <small id="fileHelp" class="form-text text-muted">Selecione um arquivo.</small>
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-block" (click)="uploadFile()">
        <i class="fa fa-upload" aria-hidden="true"></i>
        Efetuar upload
      </button>
      <div *ngIf="uploading">
        <progress max="100" [value]="percentage"></progress>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-block" (click)="clearForm()">
        <i class="fa fa-eraser" aria-hidden="true">Limpar Formulário</i>
      </button>
    </div>

    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
  </form>
</div>
