<section class="jumbotron text-center">
  <div class="container container-fluid">
    <h1 class="jumbotron-heading text-center">Biblioteca</h1>

    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
          <input type="text" [(ngModel)]="search_value" class="form-control" placeholder="Busca por titulo, autor, editora...">
          <span class="input-group-btn">
        <button class="btn btn-outline-success" type="button" (click)="searchBooks()">
          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        </button>
      </span>
        </div>
      </div>
    </div>

    <br> 

    <p class="lead text-muted">Resultado da pesquisa: títulos disponíveis.</p>   

    <!-- Page Content -->

    <div class="row">      
      <div *ngFor="let b of books">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
          <a class="thumbnail" href="#">
            <img class="img-responsive" src={{b.thumbnail}} alt="">
          </a>
        </div>
      </div>
    </div>

  </div>  
</section>