<section class="jumbotron">
  <div class="container">
    <h1 class="jumbotron-heading text-center">Biblioteca</h1>

    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Busca por titulo, autor, editora...">
          <span class="input-group-btn">
        <button class="btn btn-outline-success" type="button">Buscar</button>
      </span>
        </div>
      </div>
    </div>

    <br>

    <p class="lead text-muted">Lista dos livros disponíveis.</p>
    
      <table class="table table-hover table-inverse">
      <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Titulo</th>
          <th>Ação #1</th>          
          <th>Ação #2</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <th scope="row">{{book.ID}}</th>
          <td>{{book.title}}</td>
          <td>
            <button class="btn btn-outline-primary">Leitura</button>            
          </td>          
          <td>            
            <button class="btn btn-outline-success">Download</button>
          </td>          
        </tr>        
      </tbody>
    </table>

       

  </div>
</section>