<div class="jumbotron">
  <div *ngIf="!reading">
    <form>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
          </span>
          <input type="text" class="form-control" id="inputSearch" required [(ngModel)]="filter" [ngModelOptions]="{standalone: true}"
            aria-describedby="titleHelp" placeholder="Filtrar livros">
        </div>
      </div>
    </form>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-4">Título</th>
          <th class="col-md-4">Autor</th>
          <th class="col-md-2">ISBN</th>
          <th class="col-md-2"></th>
        </tr>
      </thead>
      <preloader *ngIf="loading"></preloader>
      <tbody>
        <tr *ngFor="let file of filterFileList()">
          <td class="col-md-4">{{file.title}}</td>
          <td class="col-md-4">{{file.author}}</td>
          <td class="col-md-2">{{file.isbn}}</td>
          <td class="col-md-2">
            <button [disabled]="loading" class="btn btn-primary" (click)="openFile(file.fileName)">
              <i class="fa fa-book" aria-hidden="true"></i> Ler
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Título</th>
          <th>Autor</th>
          <th>ISBN</th>
          <th></th>
        </tr>
      </tfoot>
    </table>

    <div class="row justify-content-center">
      <nav>
        <ul class="pagination pagination-lg">
          <li class="page-item">
            <a class="page-link" (click)="previousPage()">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
          </li>
          <li class="page-item" [class.active]="i === (currentPage-1)" *ngFor="let item of numOfPages; let i = index" [attr.data-index]="i">
            <a class="page-link">{{i + 1}}</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="nextPage()">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div *ngIf="reading">
    <ul class="nav">
      <li class="nav-item">
        <button class="btn btn-secondary" (click)="closeFile()">
          <i class="fa fa-close" aria-hidden="true"></i>
          Fechar
        </button>
    </ul>

    <preloader *ngIf="loading"></preloader>

    <object [data]='URL' type="application/pdf" width="100%" height="800"></object>

  </div>

</div>
