<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarApp" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span>
      <i class="fa fa-bars" aria-hidden="true"></i>
    </span>
  </button>
  <a class="navbar-brand text-muted">Biblioteca Virtual Rede Pró-Vida</a>
  <div class="collapse navbar-collapse" id="navbarApp">
    <ul class="navbar-nav">
      <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Início">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">
          <i class="fa fa-home fa-3x" aria-hidden="true"></i>
        </a>
      </li>
      <!-- autenticado -->
      <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Upload">
        <a class="nav-link" [routerLink]="['/upload']" [routerLinkActive]="['active']">
          <i class="fa fa-cloud-upload-alt fa-3x" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Arquivo">
        <a class="nav-link" [routerLink]="['/archive']" [routerLinkActive]="['active']">
          <i class="fa fa-archive fa-3x" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Sair">
        <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">
          <i class="fa fa-sign-out-alt fa-3x" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<alert></alert>
<div class="container">
  <router-outlet></router-outlet>
</div>
