<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarApp" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">Biblioteca (não logado)</a>
  <div class="collapse navbar-collapse" id="navbarApp">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
    </ul>
  </div>
</nav>
<div class="alert alert-danger" role="alert">
  <strong>Oh snap!</strong> Necessário efetuar login para acesso à Home.
</div>
<router-outlet></router-outlet>
